/* overwrite bookstrap config */
@media (min-width: 1200px) {
    .container {
        max-width: 1440px;
    }
    .feedCreateForm {width: 60%; margin-left: 20%; padding-top: 50px;}
}


.height100Percentage { height: 100%;}
.paddingVertical20 { padding-top: 20px; padding-bottom: 20px; }
.paddingBottom20 { padding-bottom: 20px; }
.paddingTop10 { padding-top: 10px; }
.pullRight {float: right;}
.datatablePager .selectedPager {background: #409fe2; color: white;}

